<!DOCTYPE html>
<html>
<head>
	<title>app</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
	<h2>Search</h2>
	<form action="/getSubtitle" method="POST">
		<div class="form-group">
		<label for="url">Url:</label>
		<input type="text" class="form-control" id="url" name="url" value="<%=search%>" placeholder="Enter youtube video url">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
	<br>
	<%
	if(status == "200"){
	%>
	<div id="result">
		<h3>Title:<%=data.title%></h3>
		<h3>Id:<%=data.id%></h3>
		<h3>Words count:<%=data.words%></h3>
	</div>
	<%}%>
	<%
	if(status == "404"){
	%>
	<div id="text">
		<h3><%=text%></h3>
	</div>
	<%}%>
	</div>
<script>
$("#url").on("keypress",function(){
	$("#text").css("display","none");
	$("#result").css("display","none");
});
</script>
</body>
</html>